runpod==1.4.0
torch>=2.1.2
torchvision
accelerate
transformers>=4.36.0
safetensors>=0.4.1
numpy>=1.24.0
pillow>=10.0.0
opencv-python
einops
flash-attn>=2.3.3
xformers
omegaconf
aiohttp
fastapi
uvicorn
huggingface-hub
importlib_metadata
tqdm
requests